.main{
    display: flex;
justify-content: center;
background-color: rgb(234 255 219);
height: 100vh;
align-items: center;
flex-direction: column;
padding-top: 6em;
}

.sub-main
{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-setter
{
    width:35%;
}
.top-div
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
}
.bottom-div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.cross-setter
{
    font-size: xxx-large;
    font-family: monospace;
    font-weight: bolder;
}
.shopiforce-logo
{
    width: 30%;
}
.shopiforce-text{
    font-weight: 600;
}
.tagline-text
{
    font-size: large;
}
.fieldsandbar
{
    display:none;
    width: 50%;
    font-size: large;
}
.submit-setter
{
    display: flex;
    justify-content: center;
}
.sub-main-bottom
{
    width:100%;
    
}
.step-descriptions
{
    font-size: 0.550em;
    display: flex;
    justify-content: space-evenly;
}
.step-description
{
    padding: 0 2em;
}
.slds-input::placeholder {
    font-size: small; /* You can adjust the font size to your preference */
  }